* {
    /*definindo preenchimento e a margem para zero e colocando a fonte do texto em arial*/
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 26px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

header {
    padding-bottom: 0px;
    /*aumentando o cabeçalho usando o padding-bottom*/
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UFJ-responsiva {
    display: none;
}

button {
    background-color: transparent;
    /*colocando o fundo do button como transparente*/
    border: none;
    /* tirando as bordas padroes do button*/
    transition: .3s;
    /*adicionando uma transição quando o mouse entrar*/

}

button:hover {
    /*prorpiedade hover, que serve pra executar ação quando o mouse tiver por cima do objeto da classe */
    transform: scale(1.3);
    /*aumentando a escala*/
    transition: .3s;
    /*adicionando uma transição quando o mouse sair*/
}

body {
    background-image: url("IMG/wallpaperflare.com_wallpaper\ \(1\).jpg");
    /*botando imagem de background*/
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    display: flex;
    /*definindo o display flex para fazer tudo do body ficar na horizontal*/
    flex-direction: column;
    /*usando a propriedade flex direction pra transformar de horizontal pra vertical*/
    justify-content: center;
    /*prorpiedade do display flex pra juntar no meio da tela tudo do body*/
}

nav {
    background-color: rgba(255, 0, 0);
    /*mudando a cor da navegação*/
    /*position: fixed;*/
    width: 100%;
    /*definindo a largura em 100% da tela*/
}

a {
    text-decoration: none;
    /*tirando a linha que fica de baixo do texto*/
    color: rgb(0, 0, 0);
    /*colocando a cor do texto a*/
    font-size: 25px;
    /*aumentando a fonte */
    font-weight: 600;
    /*aumentando a grossura do texto*/
    transition: .3s;
    /*transição do texto*/
}

.textMenu {
    /*chamando a classe criada artificialmente usando o . e o nome da classe*/
    display: flex;
    /*definindo na horizontal*/

}

.textMenu a {
    /*chamando a classe criada artificialmente usando o . e o nome da classe, e chamando junto o iten de dentro a*/
    padding: 20px;
    /*botando espaço entre os texto do menu*/

}

li a:hover {
    /*propriedade pra quando passar o mouse em cima da tag a de texto com link do menu*/
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    border-radius: 5px;
    /*arrendondado a bordar do fundo da tag a*/
    transition: .5s;
}

ul {
    display: flex;
    /*definindo alinhamento dos itens dentro no meio*/
    align-items: center;
    /*alinhando itens no meio vertical*/
    justify-content: space-around;
    /*alinhando itens no meio horizontal*/

}

li {
    list-style: none;
    /*tirando a bolinha que vem nos itens de dentro da lista li*/
}

main {
    display: flex;
    flex-direction: column;
    /*passando de flex horizontal para flex vertical*/
    align-items: center;
    /*alinhando itens contido na main para o meio*/
    justify-content: center;
    /*alinhando itens contido na main para o meio*/
}

.logoprincipal {
    background-color: rgba(0, 0, 0, .5);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*botão de voltar pra cima*/
.toTop {
    background: rgb(223, 0, 0);
    position: fixed;
    bottom: 16px;
    width: 50px;
    height: 50px;
    right: 32px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;

}

.toTop:hover {
    background: rgb(142, 0, 0);
}

/*Parte de informaçoes*/




h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /*aumentando o espaçamento de cima*/
    margin-bottom: 100px;
    font-size: 50px;
    /*aumentando o tamanho da fonte*/
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(184, 28, 28);
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;

}

.sobre {
    display: flex;
    justify-content: center;
}

.sobre img {
    display: block;
    margin-left: 50px;
    transition: .3s;
    margin-bottom: 45px;
    border-radius: 50px;
}

.sobre img:hover {
    transition: .3s;
    transform: scale(1.1);

}

.separacao {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);

}

.textoIntrodutorio {
    /*chamando a classe criada artificialmente usando o . e o nome da classe*/
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 5000px;
    /*definindo altura da tela em branco*/
    width: 1000px;
    /*definindo largura da tela em branco*/
    /*arredondando bordas*/
    border-left: 10px solid red;
    border-right: 10px solid red;


}

.mensagem {
    display: flex;
    margin-bottom: 50px;
}

footer {
    background-color: rgb(0, 0, 0);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p {
    color: white;
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 1280px) {

    /*parte responsiva*/
    p {
        font-size: 16px;
    }

    /*HEADER*/
    .logoS img {
        display: none;
    }

    .textMenu a {
        font-size: 20px;
        padding: 10px;

    }

    .buttonMenu button img {
        width: 40px;
        margin-top: 20px;
    }

    .buttonMenu {
        padding: 0px;
        margin: 0px;
    }

    header ul {
        justify-content: space-around;
        padding: 15px;
        flex-direction: column;

    }


    .logoIA {
        display: none;
    }

    .gif img {
        width: 350px;
        height: 250px;

    }

    .UFJ-responsiva {
        display: flex;
    }
    .logoprincipal {
        height:100px;
    }
    .textoIntrodutorio {
        width: 250px;
    }

    .mensagem img {
        display: flex;
        height: 300px;
        width: 300px;
        margin-bottom: 50px;
    }

    .toTop {
        position: fixed;
        right: 20px;
        width: 35px;
        height: 35px;
        border-radius: 10px;

    }

    .sobre img {
        margin: 0px;
        width: 300px;
    }

    .sobre img:hover {
        transform: scale(1.0);
    }

    .sobre {
        flex-direction: column;
        align-items: center;
    }

    footer {
        background-color: rgb(0, 0, 0);
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    footer img{
        width: 50px;

    }
    footer p {
        color: white;
        margin-top: 20px;
        font-size: 8px;
        
    }
   
}